
body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
#btnSize{
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    margin: 30px;
}
#canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 960px;
    border: 15px solid rgb(50, 97, 81);
}

.gridColumn{
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;
    background-color: white;


    
}

.gridLine{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 0;
    margin: 0;
   
}